<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/form.css">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <h3 class="h3">Login Now</h3>
        <form action="/login" onsubmit="return submet()" class="" method="post">
            <div id="itemsection">
                <div class="items">
                    <span>Email:</span>
                <input type="email" placeholder="Email" name="email" class="inputs" id="email">
                </div>
                <div class="items">
                    <span>Password:</span>
                <input type="password" placeholder="Password" name="password" class="inputs" id="password">
                </div>
            </div>
            <button type="submit" class="subbtn" id="btn">Submet</button>
        </form>
    </div>
</body>
</html>