    <link rel="stylesheet" href="/admincss/header.css">
    <header>
        <nav id="admin-header">
            <ul id="hitems">
                <li><a href="/../admin">Home</a></li>
                <li><a href="/../admin/adminblog">Blog</a></li>
                <li><a href="/../admin/team">Team</a></li>
                <li><a href="/../admin/contact">Contact</a></li>
                <li><a href="/../admin/social">Social</a></li>
                <li><a href="/../admin/address">Address</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div id="header-fold-btn">
            <div id="list"><i class="bi bi-list"></i></div>
            <div id="x"><i class="bi bi-x-lg"></i></div>
        </div>
    </header>